<div class="form_login">
%if($message) {
 <% $message |n %>
  <br />
  <br />
%}

    <form action="/admin/chngpwd" method="post" id="validate_lixuz_cp" name="validate_lixuz_cp">
        <table cellpadding="5" cellspacing="10" >
		    <tr height="10"><td colspan="2"></td></tr>
            <tr>
			    <td><b><% $i18n->get('Change password to') %></b></td>
			    <td><input id="password" name="password" size="30" type="password" value="" /></td>
            </tr>
            <tr>
                <td><b><% $i18n->get('Confirm password') %></b></td>
                <td><input id="confpassword" name="confpassword" size="30" type="password" value="" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="hidden" name="reset_code" id = "reset_code" value=<% $reset_code %>>
                    <input id="lixuz_forgottenpw_submit" name="_submit" onclick="this.form._submit.value = this.value;" type="submit" value="<% $i18n->get('Submit') |n %>" />
                </td>
            </tr>
		    <tr height="10"><td colspan="2"></td></tr>
	    </table> 
    </form>
</div>
   <& /adm/core/preloadJS.html, %ARGS &>
   <%args>
   $message => undef
   $reset_code
   $i18n
   </%args>
