*~
*.swp
*.swo
*.xml
.swecpwd
lixuzUpgrade.log
lixuz.yml
sql/lixuz_livedummy.sql
sql/resetdb
sql/massReassign
nytprof*
scheduler.state
db-upgrade.log
lixuz-dbupgrade-dump*.sql
packages/
root/livedata
lib/LIXUZ/Controller/SiteHacks.pm
lib/LIXUZ/Controller/SiteHacks/
.lixuzctl.data
.pluginMeta
root/source-js/handlebartemplates

# Lixuz plugin packages
*.lpp
# Built JS files
root/js
# Built CSS
root/css/lixuz.css
# Built MO files
i18n/locale
i18n/messages.mo
