<%$errorMessage%>
<table>
    <tr><td>
<& ../../core/listnavigation.html, %ARGS &>
            <%perl>
my @arl;            
if(defined $artlist && $artlist->count > 0)
{
    my $i=0;
    while(my $art = $artlist->next)
    {
        my $art_title = $art->title;
        my $list_title = $art->shortText('title',50);
        if(not defined $art_title or not length $art_title)
        {
            $art_title = $i18n->get('(unnamed)');
            $list_title = $art_title;
        }

        my $art_lead = $art->lead;
        my $list_lead = $art->shortText('lead',150,$art->text_lead);
        if(not defined $art_lead or not length $art_lead)
        {
            $art_lead = '';
            $list_lead = $art_lead;
        }

        my $imgpath;
        my $img = $art->get_fileSpot(1);
        if($img)
        {
            $img = $img->file;
            if($img && $img->is_image())
            {
                $imgpath = $img->get_url($c,undef,80);
            }
        }
        push(@arl,$art->to_hash);
        my $list_title_escaped = ($list_title =~ s/[<>]//g);
            </%perl>

<div id="makeMeDraggable<% $i++ %>" class="makeMeDraggable" data-artid="<% $art->article_id %>" data-arttitle="<%$list_title_escaped %>" data-artimage="<% $imgpath %>" data-artlead="<%$list_lead |n %>">
     <% $art->article_id %> - <%$list_title %>
</div>
%   }
%}
<& ../../core/listnavigation.html, %ARGS &>
    </td>
</tr>
</table>

<%args>
$artlist=>undef
$pager=>undef
$i18n
$errorMessage=>undef
</%args>
