%if($message) {
<div id="lzArticleListMessage">
    <b><% $message %></b>
</div>
%}
<& ../../core/listnavigation.html, %ARGS &>
<table border="0" width="100%">
%my $i=0;
%foreach my $ret (sort keys %{$retarray}) {

%$i++;
<%perl>

</%perl>
<tr><td colspan="2">&nbsp;</td></tr>
    <tr>
        <td colspan="2">
            <% $retarray->{$ret}->{'recdate'} %>
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <table cellspacing="0" class="listView">

                <tr>
                    <td class="rowHead"><a href="<% $c->request->uri_with({ orderby => 'timeEntryUser', ordertype => $ordertype}) %>"><% $i18n->get('Username') %></a></td>
                    <td class="rowHead"><a href="<% $c->request->uri_with({ orderby => 'time_start', ordertype => $ordertype}) %>"><% $i18n->get('From-To') %></a></td>
                    <td class="rowHead"><a href="<% $c->request->uri_with({ orderby => 'time_end', ordertype => $ordertype}) %>"><% $i18n->get('Duration') %></a></td>
                    <td class="rowHead"><a href="<% $c->request->uri_with({ orderby => 'entry_type', ordertype => $ordertype}) %>"><% $i18n->get('Entry type') %></a></td>
                    <td class="rowHead rowHeadIcon">&nbsp;</td>
                </tr>
%my $timecount =0 ;
%foreach my $dta ( @{$retarray->{$ret}->{'timedata'}}) {                
<tr class="<% $timecount%2==0 ? 'even' : 'odd' %>" >
        <td><% $dta->{'username'}%></td>
        <td><% $dta->{'from_to'}%></td>
        <td><% $dta->{'duration'}%></td>
        <td>

%if($dta->{'entry_type'} eq 'manually'){
<img class="useTipsy" src="/static/images/icons/manually-timeentry.png" border="0" title="<% $i18n->get('Manual entry') %>" alt="<% $i18n->get('Manual entry') %>" class="useTipsy" />
%}else{
<img class="useTipsy" src="/static/images/icons/auto-timeentry.png" border="0" title="<% $i18n->get('Automatic entry') %>" alt="<% $i18n->get('Automatic entry') %>" class="useTipsy" />
%}
</td>
<td><a href="#" onclick="previewTimeEntry(<% $dta->{'timeentry_id'} %>)"><img class="useTipsy" src="/static/images/icons/article-preview.png" border="0" title="<% $i18n->get('Preview') %>" class="useTipsy" alt="<% $i18n->get('Preview') %>"/></a></td>
    </tr>
%$timecount++;
%}
            </table>
        
        </td>
        <td>
            <table cellspacing="0" class="listView">
                <tr>
                    <td class="rowHead"><a href="<% $c->request->uri_with({ orderby => 'timeEntryUser', ordertype => $ordertype}) %>"><% $i18n->get('ID') %></a></td>
                    <td class="rowHead"><a href="<% $c->request->uri_with({ orderby => 'time_start', ordertype => $ordertype}) %>"><% $i18n->get('Path') %></a></td>
                    <td class="rowHead"><a href="<% $c->request->uri_with({ orderby => 'time_end', ordertype => $ordertype}) %>"><% $i18n->get('Title') %></a></td>
                     <td class="rowHead"><a href="<% $c->request->uri_with({ orderby => 'time_end', ordertype => $ordertype}) %>"><% $i18n->get('Wordcount') %></a></td>
                     <td class="rowHead rowHeadIcon">&nbsp;</td>
                     <td class="rowHead rowHeadIcon">&nbsp;</td>
                     <td class="rowHead rowHeadIcon">&nbsp;</td>
                 </tr>
% my $artcount =0;  
%foreach my $inkey ( @{$retarray->{$ret}->{'articledata'}}) {
<tr class="<% $artcount%2==0 ? 'even' : 'odd' %>">
                    <td><% $inkey->{'article_id'} %></td>
                    <td><% $inkey->{'path'} %></td>
                    <td><% $inkey->{'title'} %></td>
                    <td><% $inkey->{'wordcount'} %> </td>
                    <td><a href="/admin/articles/edit/<% $inkey->{'article_id'} %>?revision=<% $inkey->{'revision'} %>" ><img class="useTipsy" src="/static/images/icons/article-edit.png" border="0" title="<% $i18n->get('Edit') %>" alt="<% $i18n->get('Edit') %>" class="useTipsy" /></a></td>
                    <td><a href="/admin/articles/read/<% $inkey->{'article_id'} %>?revision=<% $inkey->{'revision'} %> "><img class="useTipsy" src="/static/images/icons/dictionary.png" border="0" title="<% $i18n->get('Read') %>" class="useTipsy" alt="<% $i18n->get('Read') %>"/></a> </td>
                    <td><a href="/admin/articles/preview/<% $inkey->{'article_id'} %>?revision=<% $inkey->{'revision'} %>" target="_blank"><img class="useTipsy" src="/static/images/icons/article-preview.png" border="0" title="<% $i18n->get('Preview') %>" class="useTipsy" alt="<% $i18n->get('Preview') %>"/></a></td>

                </tr>
%$artcount ++;                

%}
            </table>
        </td>
     
    </tr>
%}   
<tr>
    <td colspan ="2"><% $newhtml  %> </td>
    </tr>

</table>

<%args>
$timetrackentry =>undef
$message => undef
$i18n
$ordertype => ''
$retarray =>undef
$newhtml => undef
</%args>
<%init>
use 5.010;
</%init>
<%once>
use LIXUZ::HelperModules::Calendar qw(datetime_from_SQL_to_unix datetime_to_SQL );
</%once>

