/*
 * global.css
 * Global Lixuz style
 *
 * This file should contain CSS rules that should be applied no matter what theme.
 * This includes things such as element placement
 */

/* Lixuz global style elements */

body{
    margin: 0px;
    background-color: #FFF;
    font-family: arial, verdana, sans-serif;
    font-size: 13px;
}

a{
	text-decoration: none;
}

.clear{
    clear: both;
}

td {
    vertical-align: top;
}
img
{
    border:0px;
}

#list_search
{
    min-height:36px;
}

/* CSS for the YUI spellcheck component */
.yui-spellcheck { 
    background-color: yellow;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-spellcheck span.yui-toolbar-icon {
    background-image: url(/static/images/spellcheck.gif);
    background-position: 1px 0px;
    top: 1px;
    left: 4px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-spellcheck-selected span.yui-toolbar-icon {
    background-image: url(/static/images/spellcheck.gif);
    background-position: 1px 0px;
    top: 1px;
    left: 4px;
}
.yui-spellcheck-list {
    cursor: pointer;
}
.yui-skin-sam .yui-editor-panel .yui-spellcheck-list li {
    padding-left: 5px;
}

/* Top layer */

#topLayer{
    width: 100%;
}

#topLayer table{
	width: 100%;
	height: 50px;
}

#topLayer table .logo{
	width: 250px;
}

#topLayer table .headerInfo{
	width: 140px;
	padding: 10px 8px 0px 0px;
}

#topLayer table .headerInfo .userinfo{
    float: right;
}

.userinfo img
{
    vertical-align: bottom;
}
.userinfo a, .userinfo a:visited, .userinfo a:hover
{
    color:white;
}

#topLayer table .headerInfo .buttonHolder{
    clear: both;
    float: right;
    width: 66px;
    min-width: 66px;
}

#topLayer table .modules{
	vertical-align: middle;
	
}

#topLayer table .modules a
{
    color:#FFF;
}

#topLayer table .modules ul{
	list-style: none;
	margin: 0px 0px 0px 24px;
	padding: 0px;
}

#topLayer table .modules ul li{
	float: left;
	padding-right: 20px;
	font-size: 14px;
}

#topLayer table .modules img{
	padding-right: 2px;
}

#topLayer table .modules a:hover{

}

#topLayer .menuOn a{
	font-weight: bold;
}

/* Content layer */

#contentFrame{
	width: 100%;
}

#contentFrame .left{
	background-color: #FFF;
	width: 250px;
	height: 400px;
}


#contentFrame .menu ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#contentFrame .menu li{
	float: left;
	padding-right: 14px;
}


#contentFrame .main table{
	width: 100%;
}

#searchFilter{
	float: right;
	margin: 4px 8px 0px 0px;
}

#form_edit{
	padding: 10px 0px 20px 20px;
}

#form_edit .label{
	margin-top: 16px;
}

.listView{
	background-color: #CCC;
	width: 100%;
	border: 0px;
	padding: 0px;
}

.listView td {
	padding: 4px 8px 4px 4px;
}

.listView .rowHead {
	font-weight: bold;
}
.listView .rowHeadIcon
{
    width: 16px;
}

.pagination{
	margin: 10px 8px 8px 0px;
	font-size: 11px;
}

.pagination select{
	font-size: 9px;		
}

.spaceyTable td{
	padding: 0px 18px 4px 0px;
}

.lite{
	color: #AAA;
}

#LZWorkflowCommentsContainer{
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.LZWorkflowComment{
	padding: 8px 0px 12px 0px;	
}

.filterSelect{
	width: 100px;
}

#sliders_outer{
	width: 100%;
}

#bodyFrame{
	margin: 8px;	
}

.label {
	margin-top: 16px;	
}






/* Footer layer */

#footer{
	font-size: 11px;
	text-align: center;
	padding: 8px 0px;
}

/*
 * Override settings from YUI CSS files
 */
th, td
{
    border:0px;
    padding:0px;
}

blockquote, ul, ol, dl
{
    margin:0px;
}

.subMenu
{
    display:none;
    position:absolute;
    z-index:20;
	padding: 2px 12px 6px 2px;
}

.subMenuHolder{
	clear: both;
	padding-top: 5px;
}

/*
 */
.fileEntry
{
    float:left;
    height:170px;
    width:180px;
    z-index: 1;
    margin: 1em;
    margin-bottom: 2em;
    padding-top: 1em;
}
.fileEntryPreview
{
    padding-bottom: 20px;
}
.fileEntry .fileInfo
{
    position: absolute;
    z-index: 2;
    width: 180px;
}
.fileEntry .fileHolder
{
    height: 150px;
}
.fileEntry .fileButtons
{
    height: 16px;
}
.fileInfo
{
    background-color: #FFF;
    padding-bottom: 4px;
    width:145px;
}
.hoverFileInfo
{
    position: absolute;
    display: none;
}


/* Dashboard */

#dashboardHolder{
	margin: 12px;
}

.dashboardMsg{
	margin: 12px;
}

.dashboardTable .widget{
	width: 470px; 
	height: 250px; 
	overflow: auto;
}

.dashboardTable td{
	font-size: 0.9em;
}
		
.dashboardTable .heading{
	font-size: 1.1em;	
}



/* Global form fields style */
select{
		background-color: #FFFFFF;
}

input, select, textarea{
		border: 1px solid #999;
		padding: 2px 0px;
}


/* Article field styles */

#form_article_edit .text, #form_article_edit .select{
    width: 566px;
}

.tagEntry
{
    height: 16px;
    display: inline-block;
    cursor: pointer;
}
.tagEntry img
{
    vertical-align: middle;
}

/* Article change status style*/

.statusChangeEntry
{
    min-width:50px;
}

.select_displayed ul li.option {
    background-color:#FFFFFF;
}

.select_displayed ul li.option:hover {
    background-color:#9BB8CF;
}

.select ul li.option {
    cursor:default;
    margin:0;
    display:none;
    list-style: none;
}

.select ul li:first-child {
    display:block;
    background: none;
}

.select ul li:first-child:hover {
    background: none;
    min-width:50px;
    padding-right: 15px;
}

.select ul li {
    cursor:default;
}

.select {
    position:relative;
}
.select ul {
    padding:0;
    position:absolute;
    width:100%;
    border:1px solid transparent;
}


.select ul:hover, .select_displayed ul
{
    background-image: url('/static/images/icons/down-arrow.png');
    background-repeat: no-repeat;
    background-position:right top;
    border:1px solid #7f9db9;
    position:absolute;
}
select ul li.subs {
    background:#f0f0f0;
    color:#333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.select_displayed
{
    z-index:99;
}


.dclass:hover {
    background-image: url('/static/images/icons/down-arrow.png');
    background-repeat: no-repeat;
    background-position:right;
    border:1px solid #7f9db9;

}
